{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Terminal</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/terminal/jquery.terminal-2.5.2.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/terminal/unix_formatting.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/terminal/less.js' %}"></script>
    <!--script type="text/javascript" src="{% static 'js/terminal/ascii_table.js' %}"></script-->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/terminal/jquery.terminal-2.5.2.css' %}">
    <link rel="stylesheet" href="{% static '/css/terminal.css' %}">
  </head>
  <body>
    {% block content %}
    {% endblock %}
  </body>
</html>
