{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Message Board</title>
    <link rel="stylesheet" href="{% static 'css/msg_board.css' %}">
  </head>
  <body>
    <div class="container">
      <ul class="topic-list">
        <li><span class="topic-name"></span></li>
        <li><span class="topic-name">Sci-Fi</span></li>
        <li><span class="topic-name">RPGs</span></li>
        <!--span class="topic-desc"></span-->
      </ul>
    </div>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script type="text/javascript" src="{% static 'js/msg_board.js' %}"></script>
  </body>
</html>
